.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #71014A;
  min-height: 5vh;
}

body{
  background: #41002A;
  min-height: 100vh;
}

.main-view{
  min-height: 100vh;
  background-color: #F8F8F8;
  padding-left: 0;

}

.main-content{
  margin: 15px;
}

.sidebar-header{
  background-image: url('../public/img/IMG_3078.jpeg');
  height: 60px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 15px;
  margin-left: 5px;
}

.sidebar-content{
  color: #fff;
  padding-left: 50px;
  margin-bottom: 10px;
  min-height: 25px;
  position: relative;
}

.sidebar-icon{
  background-image: url('../public/img/IMG_3080.jpeg');
  height: 20px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 13px;
  top: 1px;
}

.highlighted{
  background: #71014A;
  margin-right: -15px;
  padding-top: 3px;
  padding-bottom: 4px;
}

.sidebar-content.highlighted  > .sidebar-icon{
  top:5px;
}


.choice-picker > div{
  background-color: #fff;
  color:#000;
  float: left;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #eee;
}

.choice-picker > div:hover{
  cursor: pointer;
}

.choice-picker > div.selected{
  background: #71014A;
  color: #FFF;
}

input[type="date"] {
  background: #EEEEEE;
  max-width: 20%;
}

button.btn.btn-search {
  background: #FE1879;
  margin-left: 20px;
  color: #fff;
}

td > input{
  width: 15px;
  height: 15px;
}

.centered{
  text-align: center;
}

.col-md-12.Loading {
  min-height: 50px;
}


