
<div class="col-md-12 cards-view px-4 py-5 animate__animated animate__zoomIn" >

  <div class="cards-view-main-content row no-gutters border rounded shadow position-relative bg-light my-2">
    <h1 class="result-txt text-{{resultColor}} animate__animated {{result_animation}}"><i>{{result}}</i></h1>
    <div *ngFor="let icon of icons" class="col-md-2 text-center">
      <div>
          <div id="{{icon.id}}" class="faceup animate__animated" (click)="show_icon($event)"></div>
          <i class="fa {{icon.icon}}" ></i>
      </div>
    </div>

  </div>

  <app-stats [counter]="counter" [total]="icons.length" [show_stats]="show_stats"></app-stats>
</div>
