<div class="row">
   <div class="col-md-12 position-relative pr-0">
      <nav class="site-nav">
        <ul id="primary-menu" class="navbar-nav mr-auto">
          <li class="nav-item bg-dark">
            <a  href="https://rm-cortez.github.io/" target="_blank">
    				      <img src="{{logo}}" width="50" height="50" class="d-inline-block align-top nav-bar-icon" alt="rcsproductions" loading="lazy">
    				</a>
          </li>


           <li class="nav-item ">
             <a href="/known-for" class="remove-underline">KnownFor</a>
           </li>
            <li class="nav-item ">
             <a href="/cards" class="remove-underline">Cards</a>
           </li>


        </ul>
      </nav>
   </div>
</div>
