<div class="row">
   <div class="col-md-12 position-relative pr-0">
      <nav class="site-nav">
        <ul id="primary-menu" class="navbar-nav mr-auto">
          <li class="nav-item bg-dark">
            <a class="" href="/">
    				      <img src="{{logo}}" width="50" height="50" class="d-inline-block align-top nav-bar-icon" alt="rcsproductions" loading="lazy">
    				</a>
          </li>


           <li
           *ngFor="let rt of rts"
           class="nav-item "
           routerLinkActive="active">
             <a *ngIf="rt.path != '' else lnk" routerLink="{{rt.path}}">{{rt.pathname}}</a>

             <ng-template #lnk>
               <a  routerLink="{{rt.path}}"><span class="hide-mobile-navicon">{{rt.pathname}}</span> <i class="fa fa-home show-mobile-navicon"></i> </a>
             </ng-template>
           </li>


        </ul>
      </nav>
   </div>
</div>
