<app-intro />
<div class="col-md-12 known-for my-5" [class]=" this.counter == this.states.length? 'd-none':'' ">
    <div class="row no-gutters border rounded shadow position-relative bg-light m-4 vh-65 start-panel">
        <div class="p-4 m-auto question-section" style="text-align:center">
          <h2 class="known-for-header">{{this.question.question}}</h2>
          <p class="known-for-title">{{this.question.title}}</p>
    
          <div class="badge-section">
            <span class="badge badge-pill badge-primary shadow"
                  (click)="rbChangeHandler($event)"
                  id="{{this.question.answers[0]}}">
                  {{this.question.answers[0]}}
                  <i class="fa"></i>
            </span>
            <span class="badge badge-pill badge-secondary shadow"
                  (click)="rbChangeHandler($event)"
                  id="{{this.question.answers[1]}}">
                  {{this.question.answers[1]}}
                  <i class="fa"> </i>
            </span>
            <span class="badge badge-pill badge-success shadow"
                  (click)="rbChangeHandler($event)"
                  id="{{this.question.answers[2]}}">
                  {{this.question.answers[2]}}
                  <i class="fa"></i>
            </span>
          </div>
          <div class="answer-section pt-2">
              <h1
                id="right-answer"
                class="animate__animated animate__ animate__lightSpeedInRight  text-center ">
                <i>{{correctMessage}}!</i>
              </h1>
              <h1
                  id="wrong-answer"
                  class="animate__animated animate__rollIn text-center">
                <i>{{wrongMessage}}</i>
              </h1>
          </div>
        </div>
      </div>
      <div id="btnSection" class="text-right my-4 animate__animated animate__fadeInUp">
        <button
                id="btn-info"
                type="button"
                (click)="showMap()"
                class="btn btn-outline-secondary float-left">
                  {{btnLabel.info}}  <i class="fa fa-info-circle"></i>
        </button>
        <button
                id="btn-next"
                type="button"
                (click)="incrementCounter()"
                class="btn btn-outline-secondary">
                  {{btnLabel.next}}
                  <i class="fa fa-angle-double-right"
                    [class]="this.counter + 1 == this.states.length?'d-none':''">
                </i>
        </button>
      </div>
    </div>
    <div class="col-md-12 known-for my-5 animate__animated animate__backInUp d-none"
          [class]=" this.counter == this.states.length? 'show':'' ">
      <div class="row no-gutters border rounded shadow position-relative bg-light m-4 vh-65 end-panel">
        <div class="p-4 m-auto results-section">
    
          <button class="btn btn-outline-success btn-block mb-4"
                  type="button"
                  title="Play again"
                  (click)="reload()">
                    <i class="fa fa-play"></i>
          </button>
          <h2>Number of Questions: {{this.states.length}}</h2>
          <p class="mb-1">
            <i class="fa fa-check"></i>
            Correct Answers: {{correctAnswers}}
          </p>
          <p>
            <i class="fa fa-close"></i>
            Wrong Answers: {{wrongAnswers}}
          </p>
          <div class="text-right mt-4">
            <button
                    id="btn-showAnswers"
                    type="button"
                    (click)="showMap()"
                    class="btn btn-outline-secondary">
                      {{btnLabel.showAnswers}}
            </button>
          </div>
        </div>
      </div>
</div>
