/* You can add global styles to this file, and also import other style files */
.remove-underline{
    text-decoration: none !important;
}

.badge-section .badge{
    min-width:180px;
    position:relative;
}


.badge-section .badge > .fa{
   position:absolute;
   right:15px;

}
